body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Cambia el color de fondo a blanco */
    color: #333; /* Cambia el color de texto a oscuro */
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #fff; /* Cambia el color de fondo del encabezado a verde */
}

.home-button {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #cc0000;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 15px;
    background-color: #f8f9fa; /* Cambia el color de fondo del contenedor principal a gris claro */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #333; /* Cambia el color de texto del encabezado a oscuro */
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #0056b3;
}

.input-group input {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Cambia el color de fondo de los campos de entrada a blanco */
    color: #333; /* Cambia el color de texto de los campos de entrada a oscuro */
}

#tablaContainer {
    margin-top: 20px;
    overflow-x: auto;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #333; /* Cambia el color de borde de las celdas a oscuro */
}

table td {
    background-color: #f8f9fa; /* Cambia el color de fondo de las celdas a gris claro */
}

.controlChartContainer, .rangeChartContainer {
    margin-top: 20px;
    text-align: center;
}

.controlChartCanvas, .rangeChartCanvas, .histogramCanvas {
    max-width: 400px;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.scatter-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

#borrarControlChartsButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#borrarControlChartsButton:hover {
    background-color: #0056b3;
}

#borrarControlChartsButton:active {
    background-color: #0056b3;
}

#borrarHistogramasButton {
    position: fixed;
    bottom: 60px; /* Cambiado a 60px para moverlo más arriba */
    right: 20px;
    display: none;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#borrarHistogramasButton:hover {
    background-color: #0056b3;
}

#borrarHistogramasButton:active {
    background-color: #0056b3;
}

/* Estilos para contenedor de histogramas */
#histogramContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea los elementos hacia el inicio (izquierda) */
    margin-top: 20px;
    max-width: 800px; /* Ancho máximo del contenedor de histogramas */
}

.histogramCanvas {
    width: calc(33.33% - 10px); /* Ajustar el ancho de cada histograma */
    height: 200px; /* Altura de cada histograma */
    margin-bottom: 20px;
}

/* Ajuste para el último histograma si no tiene un histograma adyacente */
.histogramCanvas:last-child {
    width: 100%; /* Ajusta el último histograma para que ocupe el ancho completo */
    margin-right: auto; /* Mueve el último histograma hacia la izquierda */
    margin-left: 0; /* Ajusta el margen izquierdo */
}

/* Estilos para contenedor de gráfico de dispersión */
.scatter-container {
    margin-top: 50px;
    text-align: center;
}

/* Ajusta el tamaño del canvas del gráfico de dispersión */
#scatterPlotCanvas {
    width: 100%;
    height: auto;
    max-width: 600px; /* Ajusta el tamaño máximo según sea necesario */
    margin: 0 auto;
}

/* Estilos para contenedor de gráficos de control */
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar los contenedores de los gráficos horizontalmente */
    gap: 20px; /* Añadir espacio entre los gráficos */
    max-width: 900px; /* Ancho máximo para los contenedores de los gráficos */
    margin: 20px auto; /* Margen en la parte superior e inferior para centrar en la página */
}

.controlChartCanvas {
    max-width: 800px; /* Ancho máximo del gráfico de control */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 400px; /* Ajusta la altura deseada */
    margin-bottom: 20px; /* Espacio entre gráficos */
}
