body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.home-button {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #cc0000;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #0056b3;
}

.input-group input {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tablaContainer {
    margin-top: 20px;
    overflow-x: auto;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #030303;
}

table td {
    background-color: #fff;
}

.controlChartContainer, .rangeChartContainer {
    margin-top: 20px;
    text-align: center;
}

.controlChartCanvas, .rangeChartCanvas, .histogramCanvas {
    max-width: 400px;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.scatter-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

#borrarControlChartsButton {
    display: block;
    margin-top: 10px; /* Puedes ajustar este valor según sea necesario */
    padding: 8px 16px;
    background-color: #007bff;
    color: white; /* Color del texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 780px;
}

#borrarControlChartsButton:hover {
    background-color: #007bff;
}

#borrarControlChartsButton:active {
    background-color: #0056b3;
}

#borrarHistogramasButton {
    display: none; /* Por defecto oculto */
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 780px; /* Mismo margen izquierdo que el botón "Borrar Gráficas de Control" */
}

#borrarHistogramasButton:hover {
    background-color: #007bff;
}

#borrarHistogramasButton:active {
    background-color: #0056b3;
}
